<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mypage</title>
</head>
<body>
    <!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!--아이콘 사용을 위한 //cdn.jsdelivr.net/npm/bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" />
    
    <!--추가적인 css-->
    <link href="{% static 'style.css' %}" rel="stylesheet" />

    <style>

      #add_day {
        float:right;
    }

    .born {
        background-color:rgb(204, 242, 255);
        padding:4px;
        border:1px solid skyblue;
        border-radius:12px;
        margin-top:30px;
        margin-right:60px;
    }
  </style>
  

    <title>Pawpy</title>
  </head>
  <body>
    <img
      src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Fdog-paw-icon-logo-stock-illustration-vector-id1189169414%3Fk%3D6%26m%3D1189169414%26s%3D612x612%26w%3D0%26h%3DIyB0vyUXFB0kcMp6ynesf2EppW-omaEmpXdEBhMnm5s%3D&type=sc960_832"
      width="120px"
      height="120px"
    />
    <span id="title">Pawpy</span>

    <a href="" id="mypage"
      ><img
        src="{% static 'img/profile.jpg' %}"
        width="100px"
        height="100px"
    /></a>
    {% if user.is_authenticated %}
    <h1 align='right'>Welcome {{user.mail_to_name}}</h1>
    {% else %}
    <h1>Welcome Anonymous user</h1>
    {% endif %}

    <span>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="home/templates/mypage.html">마이페이지</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/register">회원가입</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/logout">로그아웃</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/login">로그인</a>
        </li>
        {% endif %}
      </ul>
    </span>


    <div id="dog_select">
      <img
        src="{% static 'img/profile.jpg' %}"
        alt="dog1"
        class="img-circle"
        width="60"
      />
      <img
        src="{% static 'img/profile.jpg' %}"
        alt="dog2"
        class="img-circle"
        width="60"
      />
    </div>



    <div id="page-wrapper">
      <!-- 사이드바 -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <div class="panel-heading">
            <h4 class="panel-title"><i class="bi bi-stopwatch"></i>Daily</h4>
          </div>
          <li><a href="#">강쥐 세끼</a></li>
          <li><a href="#">산책 기록</a></li>
          <li><a href="#">성장 기록</a></li>
<br>
          <div class="panel-heading">
            <h4 class="panel-title"><i class="bi bi-people-fill"></i> 커뮤니티</h4>
          </div>
          <li><a href="#">자랑 톡</a></li>
          <li><a href="#">질문 톡</a></li>
<br>
          <div class="panel-heading">
            <h4 class="panel-title"><i class="bi bi-book"></i> 초보자 가이드북</h4>
          </div>
          <li><a href="#">메뉴 5</a></li>
          <li><a href="#">메뉴 6</a></li>
          <li><a href="#">메뉴 7</a></li>
          <li><a href="#">메뉴 7</a></li>
          <li><a href="#">메뉴 7</a></li>
        </ul>
      </div>

      <div class="form-group">
        <label for="exampleInputFile">파일 업로드</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">여기에 블록레벨 도움말 예제</p>
      </div>


<div id="add_day">
      <button class="btn btn-info" type="submit">D-day 추가하기</button>
      <div class="born"></div>
</div>

      <div class="calendar">
        <div class="header">
            <div class="year-month"></div>
            <div class="nav">
                <button class="nav-btn go-prev">&lt;</button>
                <button class="nav-btn go-today">Today</button>
                <button class="nav-btn go-next">&gt;</button>
            </div>
        </div>
        <div class="main">
            <div class="days">
                <div class="day">일</div>
                <div class="day">월</div>
                <div class="day">화</div>
                <div class="day">수</div>
                <div class="day">목</div>
                <div class="day">금</div>
                <div class="day">토</div>
            </div>
            <div class="dates"></div>
        </div>
    </div>


    <div id="register">
      {% block content %}
      <!--content of register.html-->
      {% endblock %}
    </div>

<script>
    const today = new Date();
    const Year = today.getFullYear();
    const Month = today.getMonth();
    document.querySelector('.year-month').textContent = `${Year}년 ${Month + 1}월`;
    
    var dday = new Date(2021,12,30); <!--사용자가 지정한 날짜-->
    var countDay = today.getTime() - dday.getTime();
    var result = Math.ceil(countDay / (1000*60*60*24));

    document.querySelector(".born").innerHTML="태어난 지 +"+ result + "일";
</script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

</body>
</html>