{% extends "H:\GitHub\pawpy\pawpy\home\templates\index.html" %}
{% load static %}
    {% block page_title %}
        Join Pawpy
    {% endblock page_title %}
    {% block content %}
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 10px;">
        <form method="post" action="{% url "register" %}">
            <h2 id="JoinPawpy" class="text-uppercase text-center mb-5">JOIN PAWPY</h2>
            {% csrf_token %}
            {% for field in form %}
            <div class="card" style="border-radius : 15px;">
                <div class="card-body">
                <div class="form-outline mb-4">
                <div class="form-label">
               
                {{ field.label_tag }} : {{ field }}
                
                </div>
                </div>
                </div>
            </div>
            {% endfor %}
            <div id="reg-btn" class="d-flex justify-content-center">
            <button class="btn btn-primary btn-sm" type="submit"><img id="paw" src="{% static 'img/paw.jpg' %}">SIGN UP</button>
            </div>
            <p class="text-center text-muted mt-5 mb-0">ALREADY JOINED?<a href="http://127.0.0.1:8000/login" class="fw-bold text-body"><u>LOGIN HERE</u></a></p>
            <style>
                #reg-btn{
                    background-color:lightsteelblue;
                }
                button.btn btn-primary btn-sm{
                    color:white;
                    width : 32px;
                    height : 32px;
                }
                #paw{
                    width : 40px;
                    height : 40px;
                    resize : both;
                }

            </style>
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
{% endblock content %}

